@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary: #456432;
  --primary-light: #77a440;
  --brand-green: #a4be86;
  --body-color: #4a4a4a;
  --muted: #737373;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  background: var(--background);
  color: var(--foreground);
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}
.font-raleway-medium {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.font-raleway-bold {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
